<%- include("./partials/header") %>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">My Blog</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active" style="display: flex;">
          <a class="nav-link" href="/login">Login<span class="sr-only">(current)</span></a>
          <a class="nav-link" href="/signup">Signup<span class="sr-only">(current)</span></a>
        </li>
      </ul>
    </div>
</nav>

<div class="welcome-container mt-3">
  <h3 style="margin-top: 10px; margin-left: 10px; font-family: 'Quicksand', sans-serif;">Welcome to My Blog</h3>

  <div class="allblogs">
    <a href="/allblogs">View All Blogs</a>
  </div>
</div>




<%- include("./partials/footer") %>